* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  height: 100vh;
}

.brd {
  border: 1px solid;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.container {
  width: auto;
  height: 100vh;
  /* margin-bottom: 300vh; */
}

.container > img {
  position: absolute;

  display: inline-block;
  width: auto;
  height: 100%;
  margin: auto;
}

.container span {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.container span img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100% !important;
  width: auto !important;
  max-width: none !important;
}
